---
import Sidebar from "../components/Sidebar.astro";
import "../styles/global.css";

interface Props {
    class?: string;
    title: string;
}

const { class: className = "", title } = Astro.props;

const templateFiles = import.meta.glob("/templates/**/*.typ", {
    query: "?raw",
    import: "default",
    eager: true,
});
const signTypes = Object.keys(templateFiles).map((path) => {
    const filename = path.split("/").pop() || "";
    return { id: filename.replace(".typ", "") };
});
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Robosign station sign generator" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <script
            defer
            src="https://cloud.umami.is/script.js"
            data-website-id="067cd05f-b395-4813-916c-2063c383685f"></script>
        <title>{title} | Robosign</title>
    </head>
    <body class="min-h-screen flex flex-row">
        <Sidebar signTypes={signTypes} />
        <div class="flex-1 flex-col flex gap-4">
            <main class="flex-1 p-0 sm:px-6 sm:py-6 lg:p-8">
                <div class={className}>
                    <slot />
                </div>
            </main>
            <footer
                class="border-t border-(--app-border) bg-(--app-surface) p-4 text-sm text-(--app-muted-fg)"
            >
                &copy; {new Date().getFullYear()}
                <a href="https://paiagram.com" class="hover:underline">
                    Paiagram.com
                </a>
                . All rights reserved.

                <a
                    href="https://github.com/wensimehrp/robosign"
                    class="ml-2 hover:underline"
                >
                    Source
                </a>
            </footer>
        </div>
    </body>
</html>
